.form-group
  %label.col-sm-2.control-label Action name:
  .col-sm-10
    = log.text_field :action_name, class: "form-control"
.form-group
  %label.col-sm-2.control-label Date update
  .col-sm-10
    = log.date_field :date_update , class: "form-control"
